* {
  padding: 0;
  margin: 0;
}

.login {
  border: 2px;
  padding: 1rem;
  padding: 1rem 2rem;
}
h1 {
  text-align: center;
}

.un {
  margin-left: 350px;
  height: 450px;
  color: rgb(0, 30, 255);
}

*/ div {
  padding: 1rem;
  border: 5px solid grey;
}

.contenedor {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 20px;
  font-style: normal;
  list-style-position: inside;
  list-style-type: lower-greek;
  font-size: 2rem;
  margin: 0 auto;
}
.homemargen {
  margin-bottom: 150px;
}
