ul {
  list-style-type: none;
  padding-left: 0;

  margin: 50px;
}

ul li {
  font-size: 2rem;
  margin-top: 50px;

  background-repeat: no-repeat;
  background-position: 10px 20px;
  background-size: 55px;
}
ul span {
  font-size: 2rem;
  background-repeat: no-repeat;
  background-position: 10px 20px;
  background-size: 75px;
}
/*
list-style-image: );
background-image: url(/src/components/notepad-icon-in-trendy-style-isolated-background-png-image_4871859.jpg);
  padding-left: 150px;
 

*/
