.Note {
  margin: 50px;
  font-size: 2rem;
  background-image: url(/src/components/notepad-icon-in-trendy-style-isolated-background-png-image_4871859.jpg);
  padding-left: 150px;
  background-repeat: no-repeat;
  background-position: 10px 20px;
  background-size: 55px;
  margin-top: 50px;
}

.error {
  text-align: center;
  font-size: 2rem;
  background-repeat: no-repeat;
  background-position: 10px 20px;
  background-size: 75px;
}
